.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__kbExn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cpNlN {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cpNlN {
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
.freeBox__dvjf {
  display: block;
  position: absolute;
  height: 500px;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  background: var(--token-SUzj3-m_WiEA95);
  flex-shrink: 0;
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___09Of3 {
  flex-direction: column;
  display: flex;
}
.freeBox___09Of3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___09Of3 > :global(.__wab_flex-container) > *,
.freeBox___09Of3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___09Of3 > :global(.__wab_flex-container) > picture > img,
.freeBox___09Of3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ry331 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  color: var(--token-hXs2ptuDiuG936);
}
.text__vC5U {
  height: auto;
  max-width: 699px;
  width: 100%;
  color: var(--token-hXs2ptuDiuG936);
  text-align: center;
  min-width: 0;
}
.freeBox___2C69 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___2C69 {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__tScgd {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__zIlI {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__zIlI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zIlI > :global(.__wab_flex-container) > *,
.freeBox__zIlI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zIlI > :global(.__wab_flex-container) > picture > img,
.freeBox__zIlI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___7Rk3H {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox__rk3A0 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__rk3A0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rk3A0 > :global(.__wab_flex-container) > *,
.freeBox__rk3A0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rk3A0 > :global(.__wab_flex-container) > picture > img,
.freeBox__rk3A0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__fxjpp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xN0UC {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__nIqqG {
  width: auto;
}
.text__aba9I {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.freeBox__qoxvf {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__j7Lhm {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__j7Lhm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__j7Lhm > :global(.__wab_flex-container) > *,
.freeBox__j7Lhm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7Lhm > :global(.__wab_flex-container) > picture > img,
.freeBox__j7Lhm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___7Pekk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___7Pekk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7Pekk > :global(.__wab_flex-container) > *,
.freeBox___7Pekk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Pekk > :global(.__wab_flex-container) > picture > img,
.freeBox___7Pekk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8LQno {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8LQno > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8LQno > :global(.__wab_flex-container) > *,
.freeBox___8LQno > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8LQno > :global(.__wab_flex-container) > picture > img,
.freeBox___8LQno
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__ndDd3 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__t87If {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__qy4El {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__a1BdT {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__pd6Im {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pd6Im > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pd6Im > :global(.__wab_flex-container) > *,
.freeBox__pd6Im > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pd6Im > :global(.__wab_flex-container) > picture > img,
.freeBox__pd6Im
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__lRdAh {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__dz1S3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dz1S3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dz1S3 > :global(.__wab_flex-container) > *,
.freeBox__dz1S3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dz1S3 > :global(.__wab_flex-container) > picture > img,
.freeBox__dz1S3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__uflNg {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___8Casz {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__fYetw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__nIsb8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__eo3Cm {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__eo3Cm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__eo3Cm > :global(.__wab_flex-container) > *,
.freeBox__eo3Cm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eo3Cm > :global(.__wab_flex-container) > picture > img,
.freeBox__eo3Cm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__a04CX {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__o9Qt0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__j19Zl:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xz1Ct {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hy2Ye {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___2HMnz {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  border: 4px solid var(--token-SUzj3-m_WiEA95);
}
.freeBox__moWl5 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-fuQe7cyOhD5GcO);
  padding: 32px;
}
.freeBox__moWl5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__moWl5 > :global(.__wab_flex-container) > *,
.freeBox__moWl5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__moWl5 > :global(.__wab_flex-container) > picture > img,
.freeBox__moWl5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mUjta {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  color: var(--token-SUzj3-m_WiEA95);
}
.freeBox___9Clbf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___9Clbf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___9Clbf > :global(.__wab_flex-container) > *,
.freeBox___9Clbf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Clbf > :global(.__wab_flex-container) > picture > img,
.freeBox___9Clbf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ydKd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__piCu9 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2___9GseQ {
  width: auto;
}
.text__rt9C3 {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__mqjox {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  align-self: flex-end;
  padding: 32px;
}
.freeBox__mqjox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mqjox > :global(.__wab_flex-container) > *,
.freeBox__mqjox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqjox > :global(.__wab_flex-container) > picture > img,
.freeBox__mqjox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__g23Oh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__g23Oh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__g23Oh > :global(.__wab_flex-container) > *,
.freeBox__g23Oh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g23Oh > :global(.__wab_flex-container) > picture > img,
.freeBox__g23Oh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8OoDn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8OoDn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8OoDn > :global(.__wab_flex-container) > *,
.freeBox___8OoDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8OoDn > :global(.__wab_flex-container) > picture > img,
.freeBox___8OoDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__rizHb {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__wvQh {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__be68 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__zlqM {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__jdKt5 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jdKt5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jdKt5 > :global(.__wab_flex-container) > *,
.freeBox__jdKt5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jdKt5 > :global(.__wab_flex-container) > picture > img,
.freeBox__jdKt5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__abVxB {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__tx0Qx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__tx0Qx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tx0Qx > :global(.__wab_flex-container) > *,
.freeBox__tx0Qx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tx0Qx > :global(.__wab_flex-container) > picture > img,
.freeBox__tx0Qx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__jT4Ex {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__dRhmC {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__eg4Eo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__kthi1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__rWlX8 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__rWlX8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rWlX8 > :global(.__wab_flex-container) > *,
.freeBox__rWlX8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rWlX8 > :global(.__wab_flex-container) > picture > img,
.freeBox__rWlX8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___19Hxf {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__ey6Yz {
  height: auto;
}
.freeBox__mX6UD {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mX6UD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mX6UD > :global(.__wab_flex-container) > *,
.freeBox__mX6UD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mX6UD > :global(.__wab_flex-container) > picture > img,
.freeBox__mX6UD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__z2R6H {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__x1Q9H {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__joAt9 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___0JNu8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___2NPm {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___2NPm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2NPm > :global(.__wab_flex-container) > *,
.freeBox___2NPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2NPm > :global(.__wab_flex-container) > picture > img,
.freeBox___2NPm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___2ClJ8 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox___6IQae {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___6IQae > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6IQae > :global(.__wab_flex-container) > *,
.freeBox___6IQae > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6IQae > :global(.__wab_flex-container) > picture > img,
.freeBox___6IQae
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__tkPIz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__s7BA {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__i83K9 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__ev7VP {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__touBn {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__touBn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__touBn > :global(.__wab_flex-container) > *,
.freeBox__touBn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__touBn > :global(.__wab_flex-container) > picture > img,
.freeBox__touBn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__js1Kq {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__wkPgO {
  height: auto;
}
.freeBox__pqPTz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.button__tzTc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sDl33 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nw1Qg {
  text-transform: uppercase;
}
.svg__am12T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__mMsEc {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__vNdq8 {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__rMide {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__rMide > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rMide > :global(.__wab_flex-container) > *,
.freeBox__rMide > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rMide > :global(.__wab_flex-container) > picture > img,
.freeBox__rMide
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___3HVn {
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox___8SSuu {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___8SSuu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8SSuu > :global(.__wab_flex-container) > *,
.freeBox___8SSuu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8SSuu > :global(.__wab_flex-container) > picture > img,
.freeBox___8SSuu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qObD9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ctzXf {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__xKtpR {
  width: auto;
}
.text__j9Y67 {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__fedfh {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__w2Iq {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__w2Iq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__w2Iq > :global(.__wab_flex-container) > *,
.freeBox__w2Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w2Iq > :global(.__wab_flex-container) > picture > img,
.freeBox__w2Iq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___6Pfvu {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___6Pfvu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6Pfvu > :global(.__wab_flex-container) > *,
.freeBox___6Pfvu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Pfvu > :global(.__wab_flex-container) > picture > img,
.freeBox___6Pfvu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___1R4UW {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___1R4UW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1R4UW > :global(.__wab_flex-container) > *,
.freeBox___1R4UW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1R4UW > :global(.__wab_flex-container) > picture > img,
.freeBox___1R4UW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__m8Pc4 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__qiXbI {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___0ZlAo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__p2C0K {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___0Mw7G {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___0Mw7G > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___0Mw7G > :global(.__wab_flex-container) > *,
.freeBox___0Mw7G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Mw7G > :global(.__wab_flex-container) > picture > img,
.freeBox___0Mw7G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__taV7I {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__ovCcg {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ovCcg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ovCcg > :global(.__wab_flex-container) > *,
.freeBox__ovCcg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ovCcg > :global(.__wab_flex-container) > picture > img,
.freeBox__ovCcg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__z3Vaw {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__pg5Sn {
  object-fit: cover;
  color: var(--token-gW-ctzCCsShDh7);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__yxXdJ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__tyI0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___0EOa {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___0EOa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___0EOa > :global(.__wab_flex-container) > *,
.freeBox___0EOa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0EOa > :global(.__wab_flex-container) > picture > img,
.freeBox___0EOa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__lsDd {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__mdu1P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__zw4Mi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g2Hgt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6ZNcY {
  height: auto;
}
.svg__mtekD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.faQs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ewOKQACamaA2JK);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .faQs {
    margin-top: calc(0px + 0px) !important;
    padding: 3em 15px 1.5em;
  }
}
.container5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 750px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.h2__xywIw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__xywIw {
    font-size: 24px;
  }
}
.text__zQdKs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 677px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__zQdKs {
    font-size: 1em;
    margin: 0px 0px 0em;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 30px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
.column__eHa7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__tcYuu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__tcYuu {
    font-size: 18px;
    padding: 15px;
  }
}
.text___29PMr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___29PMr {
    padding: 15px;
  }
}
.column___6Qfcf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__psuTk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__psuTk {
    font-size: 18px;
    padding: 15px;
  }
}
.text__kCkGz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__kCkGz {
    padding: 15px;
  }
}
.column___30XRl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__rj4Wg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__rj4Wg {
    font-size: 18px;
    padding: 15px;
  }
}
.text__rxtQg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__rxtQg {
    padding: 15px;
  }
}
.column__hGmuZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__iLgX6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__iLgX6 {
    font-size: 18px;
    padding: 15px;
  }
}
.text__lpOwA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lpOwA {
    padding: 15px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
